<html>
<head>
  <title>PHP</title>
  <meta charset="utf-8">
</head>
<body>
  <table id="livros">
    <thead>
      <tr>
        <th>Id</th>
        <th>Nome</th>
        <td>Preço</td>
        <td>Editar</td>
        <td>Remover</td>
      </tr>
    </thead>  
    <tbody>
      <tr id="livro_${livro.id}" for (livro in data.livros)>
        <td>${livro.id}</td>
        <td>${livro.titulo}</td>
        <td>${livro.preco}</td>
        <td><a href="/livro/form/${livro.id}">Editar</a></td> 
        <td><a href="#" data-ref="${livro.id}" data-type="remocao">Remover</a></td> 
      </tr>            
    </tbody>
  </table>
 </body>  
</html>
<script src="/estatico/js/removeLivro.js">
 </script> 



