<html>
<head>
  <title>PHP</title>
  <meta charset="utf-8">
</head>
<body>
  <table>
    <thead>
      <tr>
        <th>Id</th>
        <th>Nome</th>
      </tr>
    </thead>  
    <tbody>
      <tr>
         <td>1</td>
         <td>PHP</td>       
      </tr>
    </tbody>
  </table>
 </body>   
</html>